{
    "system": {
        "listen_addr": "0.0.0.0",
        "listen_port": 8000,
        "encrypt_key": "z3r0-jwt-secret-key-1234567890!@#$"
    },
    "database": {
        "host": "127.0.0.1",
        "port": 5432,
        "database": "z3r0",
        "username": "root",
        "password": "123456"
    },
    "agent_runtime": {
        "main_max_turns": 1000,
        "subordinate_max_turns": 1000
    },
    "agents": {
        "cso": {
            "code": "cso",
            "name": "Z3r0",
            "description": "Chief Security Officer",
            "base_url": "https://api.openai.com/v1",
            "api_key": "sk-3844...",
            "model": "openai/gpt-5.5"
        },
        "cse": {
            "code": "cse",
            "name": "Fr4nk",
            "description": "Chief Security Engineer",
            "base_url": "https://api.openai.com/v1",
            "api_key": "sk-3844...",
            "model": "openai/gpt-5.5"
        }
    }
}
